html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul {
	margin: 0;
	padding-left: 0;
}

button {
	cursor: pointer;
	border: 1px solid transparent;
}

a {
	color: currentColor;
}

address {
	font-style: normal;
}

:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--accent-color: #2196f3;
	--main-font: "Roboto";
	--button-background-color: #f5f4fa;
	--additional-text-color: #ffffff;
}

.container {
	width: 1200px;
	margin-left: 15px;
	margin-right: 15px;
	outline: 1px solid red;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.link {
	text-decoration: none;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

body {
	font-family: var(--main-font), sans-serif;
	color: var(--primary-text-color);
}

img {
	display: block;
}

/*-----Header------*/

.header {
	display: flex;
}

.header .container {
	display: flex;
	align-items: center;
}

.header-list {
	display: flex;
	align-items: center;
}

.header-item:not(:last-child) {
	margin-right: 50px;
}

/* WebStudio */
.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--primary-text-color);
	margin-right: 93px;
}

.logo-bracket {
	color: var(--accent-color);
}

.header-nav .link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
}

.header-nav .link.current {
	color: var(--accent-color);
}

.header-nav .link:hover,
.header-nav .link:focus {
	color: var(--accent-color);
}

.contacts .link {
	color: var(--secondary-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.contacts .link:focus,
.contacts .link:hover {
	color: var(--accent-color);
}

.contacts {
	display: flex;
	margin-left: auto;
}

.header-tel {
	margin-left: 50px;
}
/*--------HERO---------*/

.hero {
	background-color: #2f303a;
	text-align: center;
}

.hero-header {
	margin-bottom: 30px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;

	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--additional-text-color);
}

.hero-button {
	display: inline-block;
	min-width: 200px;
	height: 50px;
	padding: 10px 32px;
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: var(--additional-text-color);
	align-items: center;
}

.hero-button:hover,
.hero-button:focus {
	background-color: #188ce8;
	color: var(--additional-text-color);
}

.hero-benefits h3 {
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-text-color);
}

.hero-benefits p {
	padding-top: 10px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
}

.hero-benefits {
	padding-top: 94px;
	display: flex;
	gap: 30px;
}

/*-------------------*/

.we-doing {
	padding-top: 94px;
	padding-bottom: 50px;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}

.we-doing + .list {
	display: flex;
	gap: 30px;
}

.we-doing + .list li {
	width: calc(100% - 60px / 3);
}

/*---------TEAM----------*/

.team {
	background-color: #f5f4fa;
}

.team-header {
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}

.team-list li {
	background-color: var(--additional-text-color);
}

.team-list h3 {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}

.team-list p {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
}

/*----------FOOTER------------*/

.footer {
	background-color: #2f303a;
	color: var(--additional-text-color);
}

.footer > .logo.link {
	color: var(--additional-text-color);
}

.address {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.address .link {
	color: var(--additional-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.address .link:focus,
.address .link:hover {
	color: var(--accent-color);
}

/*-----------PORTFOLIO--------------*/

.button {
	display: inline-block;
	background-color: var(--button-background-color);
	font-family: inherit;
	color: var(--primary-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;

	border-radius: 4px;
	border-color: transparent;
	cursor: pointer;
}

.button:focus,
.button:hover,
.button:active {
	background-color: var(--accent-color);
	color: var(--additional-text-color);
}

.portfolio h2 {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--primary-text-color);
}

.portfolio p {
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
}
